.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: auto;
  img {
    height: 400px;
    width: auto;
  }
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 300px;
    img {
      height: 250px;
    }
    h1 {
      font-size: 1.5em;
    }
  }
}
